.searchResults {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.searchResultsItem {
  text-align: center;
  font-size: 1.5rem;
  transition: 0.3s ease;
}

.searchResultsItem:hover {
  background-color: green;
  color: white;
}
