.searchBox {
  display: grid;
  margin: 30px;
  padding: 20px;
  text-align: center;
}

.pokemonListItem {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  font-size: 2rem;
}
