.SearchResults {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.SearchResultsItem {
  text-align: center;
  font-size: 1.5rem;
  transition: 0.3s ease;
}

.SearchResultsItem:hover {
  background-color: green;
  color: white;
}
