.App {
  font-family: 'Poor Story';
}

img.poke-search {
  display: block;
  margin: auto;
  width: 400px;
  border: 3px black;
  padding: 30px;
}

.search-results-title {
  margin-left: 10%;
  font-size: 3rem;
}

#grass {
color: green;
}
